@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Rethink Sans", sans-serif;
  font-family: 500;
  background-color: #fcfcfc;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

#logo {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.bg-grey {
  background-color: #fcfcfc;
}

.bg-white {
  background-color: #fefefe;
}

.cta-black {
  background-color: #111111;
  color: #fefefe;
}

.primary-black {
  color: #111111;
}

/* Sign Up Form */

.container-userform {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
  height: 100vh;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  border: 1px solid #d3d3d3;
}

.userform-contentbox {
  width: 100%;
  /* height: 100%; */
  justify-content: center;
  align-items: center;
}

.userform-imagebox {
  background: url("./assets/images/signup.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

/* Sign In Form */

#signin-image {
  background-image: url("./assets/images/signin.jpg");
}

/* Sign up and Sign In - Mobile Responsive */
@media screen and (max-width: 500px) {
  .container-userform {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
    border: 1px solid #d3d3d3;
  }

  .userform-contentbox {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .userform-imagebox {
    width: 100%;
    height: 100%;
    min-height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  /* Sign In Form */

  #signin-image {
    background-image: url("./assets/images/signin.jpg");
    width: 100%;
    height: 100%;
    min-height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

/* ======== Home Page Designs =========== */

/* Hero section */

.section-hero {
  padding: 2rem;
  width: 100%;
  height: 100%;
}

.container-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.hero-textbox {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.heading-level-one {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
}

.subheading-level-one {
  font-size: 1.1rem;
  color: rgba(17, 17, 17, 0.5);
  font-weight: 400;
  width: 96%;
}

.hero-textbox button {
  width: 40%;
  padding: 0.8rem 0.5rem;
  font-size: 0.8rem;
}

/* Making hero responsive */

@media screen and (max-width: 768px) {
  .container-hero {
    grid-template-columns: 1fr;
    gap: 1.8rem;
  }

  .hero-textbox {
    text-align: center;
    row-gap: 1.2rem;
    align-items: center;
    padding: 1rem 5rem;
  }

  .heading-level-one {
    /* 3rem for desktop */
    font-size: 2.6rem;
  }

  .hero-textbox button {
    width: 50%;
  }
}

@media screen and (max-width: 426px) {
  .container-hero {
    gap: 1.4rem;
  }

  .hero-textbox {
    padding: 1rem;
  }

  .heading-level-one {
    /* 3rem for desktop */
    /* 2.6rem for tablet */
    font-size: 2.4rem;
  }

  .subheading-level-one {
    font-size: 1rem;
  }

  .hero-textbox button {
    width: 80%;
  }
}

/* Featured section */

.section-featuredin {
  margin-top: 1.5rem;
  padding: 2rem;
}

.section-featuredin h2 {
  font-size: 1.4rem;
  color: rgba(17, 17, 17, 0.6);
  font-weight: 600;
  text-align: center;
}

.container-featuredin {
  margin: 0 8rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 8rem;
}

.container-featuredin img {
  width: 100%;
}

/* Responsive Featured Section */

@media screen and (max-width: 768px) {
  .section-featuredin {
    margin-top: 0.5rem;
    padding: 1rem 2rem;
  }

  .section-featuredin h2 {
    font-size: 1.2rem;
  }

  .container-featuredin {
    margin: 0 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 1rem;
  }

  .container-featuredin img {
    width: 80%;
    margin: 0 auto;
  }
}

/* Responsive Featured Section - Mobile*/

@media screen and (max-width: 426px) {
  .section-featuredin {
    margin-top: 0.5rem;
    padding: 1rem 2rem;
  }

  .section-featuredin h2 {
    font-size: 1.1rem;
  }

  .container-featuredin {
    margin: 0 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 0rem;
  }

  .container-featuredin img {
    width: 80%;
    margin: 0 auto;
  }
}
